<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAuthManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8101/AuthManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAuthManager" contract="UnoLisServerReference.Auth.IAuthManager"
                name="NetTcpBinding_IAuthManager" />
        </client>
    </system.serviceModel>
</configuration>