<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILoginManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IRegisterManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IConfirmationManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProfileViewManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProfileEditManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameplayManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_INotificationsManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILeaderboardsManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IShopManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendsManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILogoutManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAvatarManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMatchmakingManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyDuplexManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IReportManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IReportManager1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IReportManager2">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendsManager1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8125/FriendsManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFriendsManager" contract="UnoLisServerReference.Friends.IFriendsManager"
                name="FriendsManagerEndpoint">
                <identity>
                    <userPrincipalName value="EVICTUS\meler" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8101/LoginManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILoginManager" contract="UnoLisServerReference.Login.ILoginManager"
                name="NetTcpBinding_ILoginManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8103/RegisterManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegisterManager"
                contract="UnoLisServerReference.Register.IRegisterManager"
                name="NetTcpBinding_IRegisterManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8105/ConfirmationManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConfirmationManager"
                contract="UnoLisServerReference.Confirmation.IConfirmationManager"
                name="NetTcpBinding_IConfirmationManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8107/ProfileViewManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfileViewManager"
                contract="UnoLisServerReference.ProfileView.IProfileViewManager"
                name="NetTcpBinding_IProfileViewManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8109/ProfileEditManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfileEditManager"
                contract="UnoLisServerReference.ProfileEdit.IProfileEditManager"
                name="NetTcpBinding_IProfileEditManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8117/NotificationsManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INotificationsManager"
                contract="UnoLisServerReference.Notifications.INotificationsManager"
                name="NetTcpBinding_INotificationsManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8119/ChatManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatManager" contract="UnoLisServerReference.Chat.IChatManager"
                name="NetTcpBinding_IChatManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8121/LeaderboardsManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILeaderboardsManager"
                contract="UnoLisServerReference.Leaderboards.ILeaderboardsManager"
                name="NetTcpBinding_ILeaderboardsManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8123/ShopManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IShopManager" contract="UnoLisServerReference.Shop.IShopManager"
                name="NetTcpBinding_IShopManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8127/LogoutManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILogoutManager" contract="UnoLisServerReference.Logout.ILogoutManager"
                name="NetTcpBinding_ILogoutManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8133/LobbyDuplexManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyDuplexManager"
                contract="UnoLisServerReference.LobbyDuplex.ILobbyDuplexManager"
                name="NetTcpBinding_ILobbyDuplexManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8135/ReportManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IReportManager" contract="UnoLisServerReference.Report.IReportManager"
                name="NetTcpBinding_IReportManager">
                <identity>
                    <userPrincipalName value="EVICTUS\meler" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8135/ReportManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IReportManager1" contract="UnoLisServerReference.Report.IReportManager"
                name="NetTcpBinding_IReportManager1">
                <identity>
                    <userPrincipalName value="EVICTUS\meler" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8129/AvatarManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAvatarManager" contract="UnoLisServerReference.Avatar.IAvatarManager"
                name="NetTcpBinding_IAvatarManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8125/FriendsManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFriendsManager" contract="UnoLisServerReference.Friends.IFriendsManager"
                name="NetTcpBinding_IFriendsManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8131/MatchmakingManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchmakingManager"
                contract="UnoLisServerReference.Matchmaking.IMatchmakingManager"
                name="NetTcpBinding_IMatchmakingManager">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8135/ReportManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IReportManager2" contract="UnoLisServerReference.Report.IReportManager"
                name="NetTcpBinding_IReportManager2">
                <identity>
                    <userPrincipalName value="SWEETBLUE16\pswee" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8115/GameplayManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameplayManager"
                contract="UnoLisServerReference.Gameplay.IGameplayManager"
                name="NetTcpBinding_IGameplayManager">
                <identity>
                    <userPrincipalName value="EVICTUS\meler" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>