<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnoLisClient.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UnoLisClient.UI.Properties.Settings>
            <setting name="languageCode" serializeAs="String">
                <value>en-US</value>
            </setting>
        </UnoLisClient.UI.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAuthManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProfileManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendsManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPartyHostManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPartyClientManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameplayManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_INotificationsManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILeaderboardsManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IShopManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8101/AuthManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAuthManager" contract="UnoLisServerReference.Auth.IAuthManager"
                name="NetTcpBinding_IAuthManager" />
            <endpoint address="net.tcp://localhost:8103/ProfileManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProfileManager" contract="UnoLisServerReference.Profile.IProfileManager"
                name="NetTcpBinding_IProfileManager" />
            <endpoint address="net.tcp://localhost:8105/FriendsManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFriendsManager" contract="UnoLisServerReference.Friends.IFriendsManager"
                name="NetTcpBinding_IFriendsManager" />
            <endpoint address="net.tcp://localhost:8107/PartyHostManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPartyHostManager"
                contract="UnoLisServerReference.PartyHost.IPartyHostManager"
                name="NetTcpBinding_IPartyHostManager" />
            <endpoint address="net.tcp://localhost:8109/PartyClientManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPartyClientManager"
                contract="UnoLisServerReference.PartyClient.IPartyClientManager"
                name="NetTcpBinding_IPartyClientManager" />
            <endpoint address="net.tcp://localhost:8111/GameplayManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameplayManager"
                contract="UnoLisServerReference.Gameplay.IGameplayManager"
                name="NetTcpBinding_IGameplayManager" />
            <endpoint address="net.tcp://localhost:8113/NotificationsManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INotificationsManager"
                contract="UnoLisServerReference.Notifications.INotificationsManager"
                name="NetTcpBinding_INotificationsManager" />
            <endpoint address="net.tcp://localhost:8115/ChatManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatManager" contract="UnoLisServerReference.Chat.IChatManager"
                name="NetTcpBinding_IChatManager" />
            <endpoint address="net.tcp://localhost:8117/LeaderboardsManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILeaderboardsManager"
                contract="UnoLisServerReference.Leaderboards.ILeaderboardsManager"
                name="NetTcpBinding_ILeaderboardsManager" />
            <endpoint address="net.tcp://localhost:8119/ShopManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IShopManager" contract="UnoLisServerReference.Shop.IShopManager"
                name="NetTcpBinding_IShopManager" />
        </client>
    </system.serviceModel>
</configuration>